<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dentiq.api.repository.HospitalMapper">

	<update id="updateHospitalLogoImageName">
		update HOSPITAL
		set
			LOGO_IMAGE_NAME=#{logoImageName}
		where id=#{hospitalId}
	</update>
	<select id="getHospitalLogoImageName" resultType="string">
		select LOGO_IMAGE_NAME from HOSPITAL where ID=#{hospitalId}
	</select>
	
	
	<!-- 2018.04.03 이주현 추가. UTMK_POINT 컬럼 추가 -->
	<insert id="createHospital" useGeneratedKeys="true" keyProperty="id" parameterType="dentiq.api.model.Hospital">
		insert into HOSPITAL (
			BIZ_REG_NO, BIZ_REG_NAME, Y_KIHO, USER_ID, NAME, CL_CODE, CL_CODE_NAME, 
			LOCATION_CODE, SIDO_CODE, SIDO_NAME, SIGU_CODE, SIGU_NAME, 
			ADDR_MAIN, ADDR_DETAIL, 
			JIBUN_ADDR, ADM_CD, RN_MGT_SN, UDRT_YN, BULD_MNNM, BULD_SLNO, BD_NM, EMD_NM, ENT_X, ENT_Y, UTMK_POINT, ZIP_NO,
			TEL_NO, HOSP_URL, 
			EMAIL, CEO_NAME, EST_DATE, TDR_CNT, GDR_CNT, IDR_CNT, RDR_CNT, SDR_CNT, X_POS, Y_POS, LOGO_IMAGE_NAME, 
			HOSPITAL_TYPE_CODE, HOSPITAL_TYPE_TEXT,			
			HOLIDAY_JSON, HOLIDAY_TEXT, WORKING_TIME_WEEKDAY_START, WORKING_TIME_WEEKDAY_END, WORKING_TIME_WEEKEND_START, WORKING_TIME_WEEKEND_END, WORKING_TIME_TEXT, LUNCH_TIME_START, LUNCH_TIME_END, 
			CLINIC_SUBJECT, TOTAL_MEMBER_CNT,
			DEFAULT_HR_TEL_NO, DEFAULT_HR_OFFICER_NAME, DEFAULT_HR_EMAIL
		)
		values (
			#{bizRegNo}, #{bizRegName}, #{yKiho}, #{userId}, #{name}, #{clCode}, #{clCodeName}, 
			#{locationCode}, #{sidoCode}, #{sidoName}, #{siguCode}, #{siguName},
			#{addrMain}, #{addrDetail}, 
			#{addrJuso.jibunAddr}, #{addrJuso.admCd}, #{addrJuso.rnMgtSn}, #{addrJuso.udrtYn}, #{addrJuso.buldMnnm}, #{addrJuso.buldSlno}, #{addrJuso.bdNm}, #{addrJuso.emdNm}, #{addrJuso.entX}, #{addrJuso.entY}, POINT(#{addrJuso.entX}, #{addrJuso.entY})#{addrJuso.zipNo},
			#{telNo}, #{hospUrl},
			#{email}, #{ceoName}, #{estDate}, #{tdrCnt}, #{gdrCnt}, #{idrCnt}, #{rdrCnt}, #{sdrCnt}, #{xPos}, #{yPos}, #{logoImageName},
			#{hospitalTypeCode}, #{hospitalTypeText},
			#{holidayJson}, #{holidayText}, #{workingTimeWeekdayStart}, #{workingTimeWeekdayEnd}, #{workingTimeWeekendStart}, #{workingTimeWeekendEnd}, #{workingTimeText}, #{lunchTimeStart}, #{lunchTimeEnd},
			#{clinicSubject}, #{totalMemberCnt},
			#{defaultHrTelNo}, #{defaultHrOfficerName}, #{defaultHrEmail}
		)
	</insert>
	
	<!--  병원정보 수정 : 사업자번호, 사업장명, 요양기관암호화번호, 사용자ID, 병원명, 종별코드는 수정 불가 -->
	<!-- 2018.04.03 이주현 추가. UTMK_POINT 컬럼 추가 -->
	<update id="updateHospital" parameterType="dentiq.api.model.Hospital">
		update HOSPITAL
		set
			<!-- ID, BIZ_REG_NO, BIZ_REG_NAME, Y_KIHO, USER_ID, NAME, CL_CODE, CL_CODE_NAME, -->
			BIZ_REG_NAME=#{bizRegName}, NAME=#{name},
			LOCATION_CODE=#{locationCode}, SIDO_CODE=#{sidoCode}, SIDO_NAME=#{sidoName}, SIGU_CODE=#{siguCode}, SIGU_NAME=#{siguName}, 
			ADDR_MAIN=#{addrMain}, ADDR_DETAIL=#{addrDetail}, 
			JIBUN_ADDR=#{addrJuso.jibunAddr}, ADM_CD=#{addrJuso.admCd}, RN_MGT_SN=#{addrJuso.rnMgtSn}, UDRT_YN=#{addrJuso.udrtYn}, BULD_MNNM=#{addrJuso.buldMnnm}, BULD_SLNO=#{addrJuso.buldSlno}, BD_NM=#{addrJuso.bdNm}, EMD_NM=#{addrJuso.emdNm}, ENT_X=#{addrJuso.entX}, ENT_Y=#{addrJuso.entY}, UTMK_POINT(#{addrJuso.entX}, #{addrJuso.entY}), ZIP_NO=#{addrJuso.zipNo},
			TEL_NO=#{telNo}, HOSP_URL=#{hospUrl},
			EMAIL=#{email}, CEO_NAME=#{ceoName}, EST_DATE=#{estDate}, TDR_CNT=#{tdrCnt}, GDR_CNT=#{gdrCnt}, IDR_CNT=#{idrCnt}, RDR_CNT=#{rdrCnt}, SDR_CNT=#{sdrCnt},
			LOGO_IMAGE_NAME=#{logoImageName},
			HOSPITAL_TYPE_CODE=#{hospitalTypeCode}, HOSPITAL_TYPE_TEXT=#{hospitalTypeText},
			HOLIDAY_JSON=#{holidayJson}, HOLIDAY_TEXT=#{holidayText},
			WORKING_TIME_WEEKDAY_START=#{workingTimeWeekdayStart}, WORKING_TIME_WEEKDAY_END=#{workingTimeWeekdayEnd}, 
			WORKING_TIME_WEEKEND_START=#{workingTimeWeekendStart}, WORKING_TIME_WEEKEND_END=#{workingTimeWeekendEnd}, WORKING_TIME_TEXT=#{workingTimeText},
			LUNCH_TIME_START=#{lunchTimeStart}, LUNCH_TIME_END=#{lunchTimeEnd},
			CLINIC_SUBJECT=#{clinicSubject}, TOTAL_MEMBER_CNT=#{totalMemberCnt},			
			DEFAULT_HR_TEL_NO=#{defaultHrTelNo}, DEFAULT_HR_OFFICER_NAME=#{defaultHrOfficerName}, DEFAULT_HR_EMAIL=#{defaultHrEmail}
		where ID=#{id}
	</update>
	
	
	<!--  공고와 동일한 형태의 list가 하나 필요함 -->
	
	<!--
	<select id="countHospitals"		resultType="int">
		select count(*) from HOSPITAL
	</select>
	
	
	<select id="readHospital"		resultType="dentiq.api.model.Hospital">
		select	* from HOSPITAL where ID=#{id}
	</select>
	
	
	<select id="listHospitals"		resultType="dentiq.api.model.Hospital">
		select	* from HOSPITAL limit #{startIndexOnPage}, #{itemCountPerPage}
	</select>
	-->
	
	<!--  searchHospitals 필요함 -->

</mapper>



<!-- 
<mapper namespace="dentiq.api.repository.HospitalMapperOLD">
	
	<select id="countHospitals"		resultType="int">
		select count(*) from HOSPITAL
	</select>
	
	<select id="readHospital"		resultType="dentiq.api.model.Hospital">
		select	ID				 as "id", 
				Y_KIHO			 as "yKiho", 
				NAME			 as "name", 
				CL_CODE			 as "clCode", 
				CL_CODE_NAME	 as "clCodeName", 
				SIDO_CODE		 as "sidoCode", 
				SIDO_CODE_NAME	 as "sidoCodeName", 
				SIGU_CODE		 as "siguCode", 
				SIGU_CODE_NAME	 as "siguCodeName", 
				EMDONG_NAME		 as "emdongName", 
				POST_NO			 as "postNo", 
				ADDR			 as "addr", 
				TEL_NO			 as "telNo", 
				HOSP_URL		 as "hospUrl", 
				EST_DATE		 as "estDate", 
				TDR_CNT			 as "tdrCnt", 
				GDR_CNT			 as "gdrCnt", 
				IDR_CNT			 as "idrCnt", 
				RDR_CNT			 as "rdrCnt", 
				SDR_CNT			 as "sdrCnt", 
				X_POS			 as "xPos", 
				Y_POS			 as "yPos", 
				USE_YN			 as "useYn" 
			from HOSPITAL
			where ID=#{id}
	</select>
	
	<select id="listHospitals"		resultType="dentiq.api.model.Hospital">
		select	ID				 as "id", 
				Y_KIHO			 as "yKiho", 
				NAME			 as "name", 
				CL_CODE			 as "clCode", 
				CL_CODE_NAME	 as "clCodeName", 
				SIDO_CODE		 as "sidoCode", 
				SIDO_CODE_NAME	 as "sidoCodeName", 
				SIGU_CODE		 as "siguCode", 
				SIGU_CODE_NAME	 as "siguCodeName", 
				EMDONG_NAME		 as "emdongName", 
				POST_NO			 as "postNo", 
				ADDR			 as "addr", 
				TEL_NO			 as "telNo", 
				HOSP_URL		 as "hospUrl", 
				EST_DATE		 as "estDate", 
				TDR_CNT			 as "tdrCnt", 
				GDR_CNT			 as "gdrCnt", 
				IDR_CNT			 as "idrCnt", 
				RDR_CNT			 as "rdrCnt", 
				SDR_CNT			 as "sdrCnt", 
				X_POS			 as "xPos", 
				Y_POS			 as "yPos", 
				USE_YN			 as "useYn" 
			from HOSPITAL
			limit #{startIndexOnPage}, #{itemCountPerPage}
	</select>



</mapper>
-->